<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>

  <div class="search-results">
    <section id="main-content" class="search-results-column">
      <h1 class="search-results-subheading">
        {{#is current_filter.identifier 'unified'}}
          {{t 'results' query=query count=results_count}}
        {{else}}
          {{#unless current_subfilter.identifier}}
            {{t 'results' query=query count=results_count}}
          {{else}}
            {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
          {{/unless}}
        {{/is}}
      </h1>
      {{#if results}}
        <ul class="search-results-list">
          {{#each results}}
            <li class="search-result-list-item result-{{type}}">
              <h2 class="search-result-title">
                <a href="{{url}}" class="results-list-item-link"  {{#if is_external}} target="_blank" {{/if}}>
                  {{title}}
                  {{#if is_external}}
                    <svg viewBox="0 0 12 12" height="12" id="zd-svg-icon-12-new-window-fill">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" d="M10.5 8.5V10c0 .28-.22.5-.5.5H2c-.28 0-.5-.22-.5-.5V2c0-.28.22-.5.5-.5h1.5M6 6l4-4"></path>
                      <path fill="currentColor" d="M10.5 6.5a.47.47 0 0 1-.35-.15l-4.5-4.5a.474.474 0 0 1-.11-.54C5.62 1.12 5.8 1 6 1h4c.55 0 1 .45 1 1v4c0 .2-.12.38-.31.46-.06.03-.13.04-.19.04z"></path>
                    </svg>
                  {{/if}}
                </a>
              </h2>
              <article>
                <ul class="meta-group">
                  <li>
                    <ol class="breadcrumbs search-result-breadcrumbs">
                      {{#each path_steps}}
                        <li title="{{name}}"><a href="{{url}}" target="{{target}}">{{name}}</a></li>
                      {{/each}}
                    </ol>
                  </li>
                </ul>
              </article>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>
          {{t 'no_results_unified'}}
          {{#link 'help_center'}}
            {{t 'browse_help_center'}}
          {{/link}}
        </p>
      {{/if}}
    </section>
  </div>
  {{pagination}}
</div>

<style>
  .sub-nav {
    margin-bottom: 1rem;
  }
</style>